<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}">
</head>
<body>
    <header>
        <h1>Contact Me</h1>
    </header>
    <section id="contact">
        <p>Email: ansaf56@gmail.com</p>
        <p>Phone: +1(312)-871-7789</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/nagoriansaf/">LinkedIn Profile</a></p>
        <p>GitHub: <a href="https://github.com/kenichi-07">GitHub Profile</a></p>
    </section>
    <footer>
        <a href="{% url 'home' %}">Work</a>
        <a href="{% url 'about' %}">About</a>
    </footer>
</body>
</html>
